body{
	margin:0 auto;
	font-family: "微软雅黑";
	min-width: 980px;
	background:rgba(27, 183, 244, 0.47);
	border:0px solid red;
	width:80%;
	height:100%;
	background-image:url('../images/da/1.jpg');
	background-size: cover;

}
h1,h2,h3,h4,h5,h6,ul,li{
	margin:0;
	padding:0;
	list-style:none;
}
.clear{
	clear:both;
}
.jiemian{
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgb(21, 20, 20);
	top:0px;
	left:0;
	background-image: url('../images/da/bg3.png');
	z-index: 15000;
	transition:all 2s ease ;
	/*margin-top: -768px;*/
}
.chongzhi,.start,.jianjie,.paihang{
	width:200px;
	height:70px;
	position:absolute;
	border: 4px solid rgba(205, 196, 196, 0.85) ;
	top:200px;
	right:0px;
	color:rgb(240, 255, 255);
	text-align: center ; 
	line-height: 70px ; 
	font-weight: 600;
	font-size: 24px;
	z-index: 1300;
	cursor: pointer;
}
#paihang{
	height:300px;
	left:2px;
}
#paihang li{
	height:40px;
	width:80%;
	font-size: 18px ; 
	float:right;
	text-align: left;
}
.start{
	bottom:200px;
	right:300px;
	z-index: 15010;
}
.jianjie{
	width:500px;
	height:160px;
	top:200px;
	left:240px;
	z-index: 15010;
	overflow: hidden;
}
#jieshao{
	width:600%;
	height:80%;
}
.jieshao{
	height:50%;
	width:500px;
	float:left;
	text-align: center ; 
	font-size: 18px ; 
}

.jiantou{
	height:60px;
	width:40px;
	position:absolute;
	top:82px;
	z-index: 15110;
	background-color:rgba(89, 88, 84, 0.66) ;
	background-size: cover ;
}
.jian1{
	background-image: url('../images/da/jiantou.png');
}
.jian2{
	background-image: url('../images/da/jian2.png');
	right:0px;
}
.di{
	width:840px;
	height:600px;
	margin:0 auto;
	position:relative;
	cursor:pointer;
	/*background-color:rgba(25, 29, 34, 0.45);*/
}
.poke{
	height:120px;
	width:90px;
	box-shadow: 0 0 10px #255255 ;
	position:absolute;
	background-color:rgba(162, 173, 207, 0.8);
	cursor:pointer;
	border:0px solid #333;
	box-shadow: 1px -1px 2px #fafafa;
	background-size: cover;
	border-radius: 3%;
	transition:all 1s ease ;
}
.poket{
	height:120px;
	width:90px;
	box-shadow: 0 0 2px rgba(162, 173, 207, 0.3) ;
	position:absolute;
	background-color:rgba(162, 173, 207, 0.8);
	cursor:pointer;
	border:0px solid #333;
	background-size: cover;
	box-shadow: 1px -1px 2px #fafafa;
	transition:all 1s ease ;
	top:0px;
	left:0px;
	border-radius: 3%;
}
.you{
	height:120px;
	width:90px;
	position:absolute;
	cursor:pointer;
	border:0px solid #333;
	background-size: cover;
	position:relative;
	top:470px;
	left:610px;
}
/*.diyi{
	transition:all 2s ease ;
	z-index:2000;
}
.dier{
	z-index:2000;
}*/
#you{
	height:120px;
	width:90px;
	box-shadow: 0 0 2px rgba(162, 173, 207, 0.3) ;
	position:absolute;
	cursor:pointer;
	border:0px solid #333;
	background-size: cover;
	position:relative;
	top:520px;
	left:610px;
	background-color: #252525;
	background-position: -65px;
}
.zuo{
	height:120px;
	width:90px;
	box-shadow: 0 0 2px rgba(162, 173, 207, 0.3) ;
	position:absolute;
	cursor:pointer;
	border:0px solid #333;
	background-size: cover;
	position:relative;
	position:absolute;
	top:470px;
	left:130px;
}
.qiepai{
	height:40px;
	width:90px;
	border:0px solid red;
	position:absolute;
	line-height: 40px ; 
	text-align: center;
	background-color:rgba(11, 134, 136, 0.72); 
}